version: "3.8"

services:
  redis:
    image: redis:7
    container_name: redis_container
    ports:
      - "6379:6379"

  app:
    build:
      context: ./app
    container_name: spring_app
    depends_on:
      - redis
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
